<%= form_for @month, role: "form" do |f| %>
  <%= render "shared/errors_messages", object: f.object %>

  <div class="box-body">
    <div class="form-group">
      <label for="value"><%= t "months.attributes.value" %></label>
      <% if f.object.new_record? %>
        <%= f.date_field :value, class: "form-control",
          placeholder: t("months.placeholder.value"),
          value: Date.today.beginning_of_month, autofocus: true %>
      <% else %>
        <%= f.date_field :value, class: "form-control",
          placeholder: t("months.placeholder.value"), autofocus: true %>
      <% end %>
    </div>
  </div>

  <div class="box-footer">
    <%= link_to t("app.buttons.cancel"), months_path, class: "btn btn-default" %>
    <%= f.submit t("app.buttons.submit"), class: "btn btn-info pull-right" %>
  </div>
<% end %>
