<div class="row">
  <div class="col-md-3">
    <div class="form-group">
      <label for="month" class="control-label">
        <%= t "incomes.titles.month" %>
      </label>
      <%= text_field_tag "month", (params[:month] || l(Date.today, format: :month)), class: "form-control search-month" %>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label for="category" class="control-label">
        <%= t "incomes.attributes.category" %>
      </label>
      <%= select_tag "category_id", options_for_select(@categories),
        include_blank: true, class: "form-control" %>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <%= button_tag type: "submit", class: "btn btn-success btn-search" do %>
        <i class="glyphicon glyphicon-search"></i>
        <span><%= t "app.search" %></span>
      <% end %>
    </div>
  </div>
</div>
