<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu">
      <li class="header text-uppercase"><%= t "app.main_functions" %></li>
      <li>
        <%= link_to categories_path do %>
          <i class="fa fa-book"></i>
          <span><%= t "sidebars.category" %></span>
        <% end %>
      </li>
      <li>
        <%= link_to incomes_path do %>
          <i class="fa fa-book"></i>
          <span><%= t "sidebars.income" %></span>
        <% end %>
      </li>
      <li>
        <%= link_to outcomes_path do %>
          <i class="fa fa-book"></i>
          <span><%= t "sidebars.outcome" %></span>
        <% end %>
      </li>
      <li>
        <%= link_to months_path do %>
          <i class="fa fa-book"></i>
          <span><%= t "sidebars.month" %></span>
        <% end %>
      </li>
    </ul>
  </section>
</aside>
