<div class="box">
  <div class="box-header">
    <h3 class="box-title"><%= t "incomes.titles.all" %></h3>
    <div class="box-tools">
      <div class="input-group input-group-sm" style="width: 150px;">
        <div class="input-group-btn">
          <%= link_to t("incomes.titles.create"), new_income_path, class: "btn btn-default" %>
        </div>
      </div>
    </div>
  </div>

  <div class="box-body">
    <%= form_tag @search, url: incomes_path, method: :get, id: "search-income" do %>
      <%= render "shared/search_month" %>
    <% end %>
  </div>

  <div class="box-footer">
    <ul class="nav nav-tabs" id="income-tab" role="tablist">
      <li role="presentation" class="active">
        <a href="#income-table" id="table-tab" role="tab" data-toggle="tab" aria-controls="table" aria-expanded="false">
          <%= t "incomes.tabs.table" %>
        </a>
      </li>
      <li role="presentation">
        <a href="#income-statistics" role="tab" id="statistics-tab" data-toggle="tab" aria-controls="statistics" aria-expanded="true">
          <%= t "incomes.tabs.statistics" %>
        </a>
      </li>
    </ul>

    <div class="tab-content" id="income-tab-content">
      <%= render "income_table" %>
      <%= render "income_statistic" %>
    </div>
  </div>
</div>
