<div class="box">
  <div class="box-header">
    <h3 class="box-title"><%= t "outcomes.titles.all" %></h3>
    <div class="box-tools">
      <div class="input-group input-group-sm" style="width: 150px;">
        <div class="input-group-btn">
          <%= link_to t("outcomes.titles.create"), new_outcome_path, class: "btn btn-default" %>
        </div>
      </div>
    </div>
  </div>

  <div class="box-body">
    <%= form_tag @search, url: outcomes_path, method: :get do %>
      <%= render "shared/search_month" %>
    <% end %>
  </div>

  <div class="box-footer">
    <ul class="nav nav-tabs" id="outcome-tab" role="tablist">
      <li role="presentation" class="active">
        <a href="#outcome-table" id="table-tab" role="tab" data-toggle="tab" aria-controls="table" aria-expanded="false">
          <%= t "outcomes.tabs.table" %>
        </a>
      </li>
      <li role="presentation">
        <a href="#outcome-statistics" role="tab" id="statistics-tab" data-toggle="tab" aria-controls="statistics" aria-expanded="true">
          <%= t "outcomes.tabs.statistics" %>
        </a>
      </li>
    </ul>

    <div class="tab-content" id="outcome-tab-content">
      <%= render "outcome_table" %>
      <%= render "outcome_statistic" %>
    </div>
  </div>
</div>
